<ng-container *ngIf="user">
   <h1 *ngIf="!user.id">Добавление пользователя</h1>
   <h1 *ngIf="user.id">Правка пользователя &quot;{{user.name}}&quot;</h1>
   <div class="centered">
     <form #userform="ngForm" (ngSubmit)="submitUser()">
       <input type="hidden" [(ngModel)]="user.id" name="id">
       <p>Имя<br><input [(ngModel)]="user.name" name="name" required
       maxlength="20"></p>
       <p>Пароль<br><input [(ngModel)]="user.password" name="password"
       required maxlength="20"></p>
       <p>Роль<br>
         <select size="1" [(ngModel)]="user.role" name="role">
           <option value="e">Редактор</option>
           <option value="a">Администратор</option>
         </select>
       </p>
       <p><input type="submit" value="Сохранить"
       [disabled]="!userform.valid"></p>
     </form>
     <p><a routerLink="/user">Назад</a></p>
   </div>
</ng-container>
