body { margin: 0px;
 background-color: #ebff9a;
 background-image: repeating-linear-gradient
 (White 0px, White 1px, #ebff9a 2px, White 3px,
 White 4px); }
p, td, th { font-family: Tahoma, Arial, sans-serif;
 font-size: 14pt; }
h1, h2, h3, h4 {font-family: Verdana, sans-serif; }
h1 { font-size: 36pt; }
h2 { font-size: 24pt; }
h3 { font-size: 20pt; }
h4 { font-size: 16pt; }
a:link { color: #81b083;
 text-decoration: none; }
a:active, a:hover { color: #81b083;
 text-decoration: underline; }
a:visited { color: #87d291;
 text-decoration: none; }
